<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Игра</title>
  <style>
    body {
      margin: 0;
      background-color: pink;
      font-family: sans-serif;
      text-align: center;
      padding-top: 30vh;
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Привет! Это мой первый сайт на Python!<br>Сейчас будет маленькая игра</h1>
  <form action="/question">
  <button type="submit">Начать</button>
</form>
</body>
</html>

